# PORT to run the Nodemailer express server on
PORT=5001

# Your personal or company Gmail Address (e.g. yourname@gmail.com)
GMAIL_USER=your_company_or_personal_email@gmail.com

# Your 16-character Gmail App Password
# Note: You MUST enable 2-Step Verification on Google, then generate an App Password:
# Go to My Account -> Security -> 2-Step Verification -> App Passwords
GMAIL_APP_PASS=abcd efgh ijkl mnop

# Target email to receive enquiries (Defaults to GMAIL_USER if left blank)
TARGET_EMAIL=info@hnccafe.com
